* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#template {
    height: 120dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
}

.header {
    gap: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    height: 200vh;
    background-color: rgb(255, 255, 255);
}

.left {
    display: flex;
    flex-direction: column;
    gap: 100px;
    height: 100%;
    width: 50%;
    background-color: rgb(255, 255, 255);
}

.card-bottom>button{
    background-color: #f1f1f1;
    border: 2px solid;
    border-radius: 3px;
    padding: 10px;
}

.card> h1,p{
    margin-left: 10px;
}
.img {
    height: 280px;
    width: 669=7px;
}

img {
    height: 100%;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    
    gap: 30px;
}


.card-bottom {
    width: 100%;
    height: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.f-span{
    position: absolute;
    height: 20px;
    text-align: center;
    width: 20px;
    color: white;
    background-color: black;
    
}

.s-span{
    position: absolute;
    height: 20px;
    text-align: center;
    width: 20px;
    color: white;
    background-color: black;
    border-radius: 50%;
    
}

.bottom-card-right {
   margin: 10px;
    width: 100px;
    height: 20px;

}

button {
    margin-left: 20px;
}

.right {
    gap: 50px;
    display: flex;
    flex-direction: column;
}

.r-card {
    gap: 10px;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.r-card-2 {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
}



.r-img {
    height: 200px;
    width: 100%;
}

.side-divs {
    display: flex;
    align-items: center;
    height: 80px;
}

.f1f1f1{
    background-color: #f1f1f1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
    

}

.side-img {
    margin-left: 5px;
    margin-right: 5px;
    height: 50px;
    width: 50px;
}

.right-card-3 {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    
    display: flex;
    flex-direction: column;
    width: 400px;
    height: max-content;
}

.tags {  
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    height: 100px;
    width: 100%;
}

.tag{
    padding: 10px;
    height: 50px;
    border-bottom: 1px solid #f1f1f1;
    background-color: #f1f1f1;
}
.tags>span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background-color: #f1f1f1;

    height: 20px;
    width: 70px;
}

.tags>span:nth-child(1){
    background-color: black;
    color: white;
}


.footer{
    height: 100px;
    width: 100%;
    background-color: #f1f1f1;
}