* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 150px;
    border: none;
    background-color: aqua;

}

.Up-elem {

    padding: 50px;
    height: max-content;
    width: max-content;

}

h2 {
    margin-bottom: 10px;
}

/* main style task1 */

.text-boxes {
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 100%;
    border: none;
}

.boxes {
    border-radius: 10px;

    display: inline-block;
    margin-left: 600px;
    margin-top: 70px;
}

.green-box {
    border-radius: 10px;
    height: 150px;
    width: 600px;
    background-color: rgb(78, 197, 104);
    margin-bottom: 120px;
}

.red-box {
    text-align: center;
    margin-bottom: 30px;
}

.button {
    background-color: #f05f40;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: #d9534b;
}

/* footer style */
.content {
    background-color: #34495e;
    padding: 30px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    line-height: 1.5;
    height: 550px;
}
.green-box {
    background-color: #89c977;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

